:root{
--background-color: #F6F6F6;
--font-titulo: 50px;
--font-nav: 16px;
--font-p: 16px;
--font-button: 16px;
--font-number-t: 25px;
--font-number-p: 20px;
--font-subtitle: 35px;
--font-topics: 14px;
--font-plan: 18px;
--orange:#f53838;
--gray:#dddd;
--black-font: #0B132A;
--gray-font: #4F5665;
--ball: #DDE0E4;
}

*{
    padding: 0;
    margin: 0;
}

.page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eac2c2;
      
}

header nav ul{
list-style: none;
display: flex;

}

header nav ul li{
margin-left: 100px; 
font-size: 20px;   
}

header nav ul a{
   text-decoration:none;
   color: orange;
   font-weight: bold;
   padding: 5px 10px;
}

.menu{
    margin-right: 10%;
    background-color: #f53838;
  
}

.sign-in{
    margin-left: -50px;
   background-color: #4F5665;
}
.sign-up{
    margin-left: 5px;
   background-color: aqua;
}
